{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Edit Student Notice
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Notice</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="{% url 'edit_student_notice' notice.id %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Notice Title</label>
                                <input type="text" class="form-control" name="title" value="{{ notice.title }}" required>
                            </div>
                            <div class="form-group">
                                <label>Notice Content</label>
                                <textarea class="form-control" name="content" rows="4" required>{{ notice.content }}</textarea>
                            </div>
                            <div class="form-group">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                        {% elif message.tags == 'success' %}
                                            <div class="alert alert-success">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Update Notice</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}
