{% extends 'hod_template/base_template.html' %}
{% block page_title %}Edit Session Year{% endblock page_title %}
{% block main_content %}

<section class="content">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Session Year</h3>
                    </div>
                    <form role="form" action="{% url 'edit_session_year' session.id %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Session Start Year</label>
<input type="date" class="form-control" name="session_start" value="{{ session.session_start_year|date:'Y-m-d' }}" required>
                            </div>
                            <div class="form-group">
                                <label>Session End Year</label>
<input type="date" class="form-control" name="session_end" value="{{ session.session_end_year|date:'Y-m-d' }}" required>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-block">Update Session Year</button>
                        </div>
                    </form>
                </div>


</section>

{% endblock main_content %}
